
// map
$breakpoint: (
    sp: 'screen and (max-width: 767px)',
    pc: 'screen and (min-width: 767px)',
);

// mixin変数
@mixin mq($bp) {
    @media #{map-get($breakpoint, $bp)} {
        @content;
    }
}

@mixin title {
    font-size: 40px;
    font-weight: bold;
    border-bottom: solid 6px #e03131;
    display: inline-block;

    @include mq(sp) {
        font-size: 20px;
    }
}

body {
    font-size: 14.4px;
}

.header {
    padding: 20px 44px;
    background-image: url('/img/mainvisual.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;

    nav {
        ul {
            display: flex;
            justify-content: end;

            li {
                list-style: none;


                &:not(:last-child) {
                    margin-right: 27px;
                }

                a {
                    transition: all 0.3s ease;
                    filter: drop-shadow(1px 1px 2px  #121212);
                    font-weight: bold;
                    color: #fff;

                    &:hover {
                        color: #e03131;
                    }
                }
            }
        }
    }

    &__title {
        position: absolute;
        top: 45%;
        text-align: center;
        left: 0;
        right: 0;
    }
}

.menu {
    margin-top: 20px;

    &__img {
        // 背景画像
        position: relative;
        height: 300px;
        background-image: url('/img/menu.jpg');
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

        // 子要素の配置
        display: flex;
        justify-content: center;
        align-items: center;

        @include mq(sp) {
            height: 94px;
            background-attachment: scroll;
        }

        &--title {
            font-size: 72px;
            font-weight: bold;
            filter: drop-shadow(1px 1px 10px #c0c0c0);
            color: #fff;
            @include mq(sp) {
                font-size: 32px;
            }
        }
    }

    &__list {
        display: flex;
        max-width: 1000px;
        margin: 0 auto;
        padding: 90px 0;

        @include mq(sp) {
            display: block;
            padding: 30px 0 115px;
        }

        &_item {
            width: 50%;
            text-align: center;
            padding: 0 45px;

            @include mq(sp) {
                width: 100%;
            }

            &:first-child {
                border-right: solid 1px #000;
            }

            &--title {
                @include title;

                @include mq(pc) {
                    &:not(:first-child) {
                        margin-top: 55px;
                    }
                }
            }

            dl {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                margin-top: 70px;

                @include mq(sp) {
                    margin-top: 25px;
                }

                dt {
                    width: 87%;
                    font-weight: normal;
                    text-align: left;
                    border-bottom: dotted 1px #000;

                    &:not(:last-child) {
                        margin-bottom: 25px;
                    }
                }
                dd {
                    width: 13%;
                    text-align: right;

                    &:not(:last-child) {
                        margin-bottom: 25px;
                    }
                }
            }
        }
    }
}

.about {
    &__img {
        height: 300px;
        @include mq(sp) {
            height: 94px;
            background-attachment: scroll;
        }

        position: relative;
        background-image: url('/img/about.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

        &--title {
            color: #fff;
            position: absolute;
            text-align: center;
            display: block;
            width: 100%;
            top: 40%;
            font-size: 72px;
            font-weight: bold;
            filter: drop-shadow(1px 1px 10px #c0c0c0);

            @include mq(sp) {
                font-size: 32px;
            }
        }
    }

    &__content_wrapper {
        margin: 0 auto;
        max-width: 1000px;
        text-align: center;
        padding: 90px 0;

        @include mq(sp) {
            padding: 30px 0 90px;
        }
    }
    &__content_item {
        h3 {
            @include title;
            margin-bottom: 90px;
            @include mq(sp) {
                margin-bottom: 30px;
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            margin-bottom: calc(77px - 20px); // liのpaddingの20pxを減算（よく意味わかってないけど）

            li {
                width: 50%;
                @include mq(sp) {
                    width: 100%;
                }
                padding: 20px;
                line-height: 2rem;
                letter-spacing: 0.5px;
                text-align: left;
            }
        }

        a {
            position: relative;
            width: 70px;
            // spanのpaddingに影響される横幅は0指定
            padding: 17px 0;

            // 左（上のborder）
            &::before {
                content: '';
                position: absolute;
                width: 32px;
                height: 2px;
                background-color: red;
                left: 0;
                top: 0;
                transition: all .3s ease;
            }

            // 右（下のborder）
            &::after {
                content: '';
                position: absolute;
                right: 0;
                bottom: 0;
                width: 32px;
                height: 2px;
                background-color: red;
                transition: all .3s ease;
            }
            &:hover {
                &::before, &::after {
                    width: 100%;
                }
            }

            span {
                position: relative;
                padding: 17px 45px;

                // 左（横のborder）
                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 2px;
                    height: 32px;
                    background-color: red;
                    transition: all .3s ease;
                }

                // 右（下のborder）
                &::after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 2px;
                    height: 32px;
                    background-color: red;
                    transition: all .3s ease;
                }

                &:hover {
                    &::before, &::after {
                        height: 100%;
                    }
                }
            }
        }
    }
}

.location {
    margin-bottom: 170px;

    &__img {
        height: 300px;
        background-image: url('/img/location.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;

        position: relative;
        margin-bottom: 90px;

        &--title {
            color: #fff;
            position: absolute;
            display: block;
            width: 100%;
            text-align: center;
            top: 40%;
            font-size: 72px;
            font-weight: bold;
            filter: drop-shadow(1px 1px 10px #c0c0c0);
        }
    }

    &__area {
        margin: 0 auto;
        max-width: 1000px;
        text-align: center;
        h3 {
            @include title;
            margin-bottom: 70px;
        }
    }

    &__map_area {
        filter: grayscale(1);
        max-width: 970px;
        margin-bottom: 20px;
        iframe {
            width: 100%;
            height: 400px;
        }
    }

    &__detail_area {
        text-align: left;
        p:not(:last-child) {
            margin-bottom: 10px;
        }

    }

}

footer {
    .copy_right {
        text-align: center;
        margin-bottom: 10px;
    }
}